<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 p-1">
      <button class="w-100">Log out</button>
    </div>
    <div class="col-lg-8 col-md-6 col-12 p-1">
      <input class="w-100" placeholder="search" [(ngModel)]="filterBy">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-1" *ngFor="let post of (posts | postFilter: filterBy) | async">

      <div class="card text-center h-100">
        <div class="card-body">
          <h5 class="card-title">
            UserId: {{post.userId}}
          </h5>
          <p class="card-text">
            <a [routerLink]="['/post', post.id]">Title: {{post.title}}</a>
          </p>
        </div>
        </div>

    </div>
  </div>
</div>
